html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background:#EEE;
    line-height: 1.5;
    text-align: left;
    font-size: 1rem;
    height: calc(100% - 60px);
    padding-top: 60px;
    font-weight: 400;
    color: #212529;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
*:hover, *:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none /*only to disable context menu on long press*/
}
header {
    position: fixed;
    height: 60px;
    background: rgb(12, 69, 122);
    display: inline-flex;
    top: 0;
    width: calc(100% - 50px);
    padding: 0 25px;
    line-height: 60px;
    z-index: 1;
}
header .logo {
    font-size: 24px;
    color: #FFF;
}

/* MENU */
.open-menu {
    display: none;
}

nav {
    list-style: none;
    padding: 0;
    margin:0;
    display: inline-flex;
}
nav li {
    position: relative;
    width: 100%;
}
nav li a {
    color: #FFF;
    padding: 0 20px;
    position: relative;
    display: block;
    text-decoration: none;
}
nav li a:after {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    background: #16589c;
    top: 10px;
    right: 0;
}
/*SUBMENU*/
nav li ul li a {
    color: #000;
}
nav li ul li a:after {
    display: none;
}
nav li ul {
    display: none;
    background: #FFF;
    position: absolute;
    list-style: none;
    min-width: 160px;
    z-index: 9;
    box-shadow: -1px 1px 4px #888;
    padding-left: 0;
    margin: 0;
}
nav li:hover > a {
    background: #16589c;
    color: #FFF;
}
nav li:hover > ul {
    display: block;
    position: absolute;
}
nav li ul li ul {
    top: 0;
    left: 100%;
}
/**** CARDS */
.card {
    width: 250px;
    padding: 10px;
    background: #FFF;
    margin: 10px;
    border-radius: 4px;
    float: left;
}
.card.shadow {
    box-shadow: 1px 1px 10px #CCC;
}
.card .card-header {
    padding: 10px 0px;
    font-size: 24px;
    position: relative;
}
.card .card-header:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #eaeaea;
    
}
.card .card-footer {
    padding: 5px 0;
    color: #999;
    position: relative;
}
.card .card-footer::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #eaeaea;
    
}
/*** SIDEBAR */
section.sidebar {
    width: 250px;
    background: #CCC;
    height: 100%;
    float: left;
}



/** MAIN */
main {
    float: none;
    width: 100%;
    height: 100%;
}
main.sidebar-on {
        width: calc(100% - 250px);
        height: 100%;
        float: right;
}




/* RESPONSIVE */

/* Small devices (landscape phones, 576px and up*/
@media (max-width: 576px) {
    .open-menu {
        border: 1px solid #3372ad;
        color: #fff;
        padding: 15px 10px;
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
        line-height: 10px;
    }
    nav li {
        clear: both;
        float: none;
    }
    nav {
        display:block;
        background: #0c457a;
        position: absolute;
        right: 0;
        top: 59px;
        width: 100%;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s, max-height 0.5s ease, visibility 0.1s;
    }
    nav.activate {
        max-height: 500px;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
    }
    nav li ul {
        width: 100%;
    }
    nav li:focus > ul {
        position: relative;
        display: block;
    }
    nav li ul li ul {
        left: 0;
        top: auto;
        position: relative;
        box-shadow: inset 0px 0px 5px #888;
    }
    nav li:hover > ul {
        position: relative;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}